:root {
  --color-green: #34c94b;
  --color-black: #121212;
  --color-white: #ffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "sans-serif";
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}
